<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497586253810-e3402chpl1gnq1ejouqa3pj8efd6ovq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497586253810-e3402chpl1gnq1ejouqa3pj8efd6ovq4</string>
	<key>API_KEY</key>
	<string>AIzaSyAA7XAcJnWDyRROy7jBa41GRO0IiNfVQJM</string>
	<key>GCM_SENDER_ID</key>
	<string>497586253810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFlash</string>
	<key>PROJECT_ID</key>
	<string>chat-flach</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497586253810:ios:aba285feef86a33695c56b</string>
</dict>
</plist>